html {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
  text-align: center;
  border: 1px solid black;
  height: 6vh;
  margin-left: 15%;
  margin-right: 15%;
  border-bottom-left-radius:  25px;
  border-bottom-right-radius:  25px;
  background-color: darkslategrey;
  color: white;
}
.label {
  text-align: center;
  margin-left: 0%;
  margin-right: 0%;
  
  background-color: red;
  border-style: none;
} 

.head_row div {
  float: right;  
  margin-right: 5%;   
  
}
.head_row div a  {  
  padding-left: 10px;
  padding-top: 15px;
  color: white;
}
.head_row a {
  color: white;
  float: left;
  padding-left: 25px;
  padding-top: 15px;
}
.ss {  
  display: block;
  padding-top: 10px;
  width: 72%;  
  margin-left: auto;  
  margin-right: auto;
}
.ss p {
  font-size: 200%;
  font-weight: 700;
  color: antiquewhite; 
}
.ss .text{
  font-size: 120%;
  padding-top: 20px;
  color: antiquewhite;
  margin-top: -25%; 
}
.ss figure {
  
  margin-top: 100px;
  margin-right: 75px;
}

figure{
  float: left;   
}

main {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: auto 1fr -90%;
  min-height: 100vh;
  font-size: 85%; 
}
.Dobr, .Mayak, .Kop { 
  float: left;  
  width: 300px;
  height: 100px;
  margin: 15px;
  padding-top: 24px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 3px 15px 1500px 3px rgb(117, 101, 101);
}
.Dobr {
  background-color: darkslategrey;
}
.Kop {
  background-color: red;  
}
.Mayak {
  background-color: yellow;
}

footer {
  text-align: center;
  border: 1px solid black;
  height: 6vh;
  margin-left: 15%;
  margin-right: 15%;  
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
  background-color: #2f4f4f;
  color: white;  
  font-size: 14px;
  font-weight: 700;
}
footer .self_link {
  float: left;
  padding-left: 25px;
  padding-top: 15px;
  color: white;
 
}
footer .phone{
  float: left; 
  margin-left: 200px; 
  margin-top: 10px;  
}

footer .phone_text, footer .email_text {
  float: left;
  margin-left: 5px;
  font-weight: 700;
  margin-top: 16px;
  
}
footer .email{
  float: left;
  margin-left: 30px;
  margin-top: 10px;
}










