html {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

div {
  margin: 10px;  
  font-size: 20px; 
  height: 80px; 
  border: 1px solid black;
} 
header {
    height: 150px;
    width: 100%;
    
}
.headIMG {
  width: 1300px;
  height: 150px;
}
aside {  
  height:10%;
  width: 20%;
  float: right;   
  border: 1px solid black; 
  margin: 10px;
}
main {  
  height: 100%;
  margin-right: 300px;  
}
footer {
  margin-top: 500px;  
}

form { 
  padding: 20px;
  font-size: 75%;
  font-weight: bold;
}

input {
  padding: 3px;
  font-size: 100%; 
  border: 1px solid black;
  border-radius: 3%; 
}
fieldset {  
  width: 10%;
  height: 10%;
  border: 2px solid;
  
}

.SignUp {  
  margin-left: 30px;
  margin-bottom: 20px;
  font-size: 100%;
  font-weight: bold;
}

.Lang {
  margin-left: 5px;
  text-align: center;
}
.LangList {
  margin-left: 5px;
  text-align: left;
  font-size: 100%;
  font-weight: bold;
  font-kerning: initial;
}

table, th, tr,td {
  font-size: 100%;
  border-collapse: collapse;
  border: 1px solid black;  
  margin: 10px;
}

td {
  padding-left: 10px;
}

.ColLang {
  text-align: center;
  font-weight: bold;
}

ul {  
  align-items: flex-start ;
}